@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Roboto;
    margin: 0; 
}


.header, .hero, .footer {
    background-color: #1F2937;
    margin: 0;
    padding: 0 15%;
}
.main-text {
    color: #F9FAF8;
    font-weight: 900;
}
.secondary-text, .copyright-text {
    color: #E5E7EB;
}


.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 100px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.header-links{
    display: flex;
    gap: 10px;
}
.header-links li {
    list-style-type: none;
}
.header li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}
.hero-content-right {
    display: flex;
    flex:1 0 auto;
}
.hero-content .main-text {
    font-size: 48px;
}
.hero-secondary {
    display: flex;
    justify-content: stretch;
}
.hero-secondary .secondary-text {
    font-size: 18px;
}
.hero-content .sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    margin-top: 5px;
    padding: 5px 25px;
    font-weight: bold;
    color: #E5E7EB;
    cursor: pointer;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    padding: 90px;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 50px;
}


.content {
    margin: 1% 15% 10% 15%;
}
.info-header {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.info-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 50px;
}
.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}
.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: #3882F6;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
}
.card-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
}


.quotes {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-box {
    padding: 10% 19%;
}
.quote-text {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.quote-credit {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 4%;
    font-size: 24px;
    font-weight: bold;
}


.call2action{
    margin: 5%;
}
.call2action-box{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5% 10%;
}
.call2action-content {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
.call2action-message .main-text {
    display: flex;
    font-size: 24px;
    
}
.call2action-message .secondary-text {
    display: flex;
    font-size: 16px;
}
.call2action-content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.call2action-box .sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #3882F6;
    border-color: #FFFF;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 25px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
}


.footer {
    padding: 2% 10%;
}
.copyright-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-text {
    font-size: 18px;
}