@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Roboto;
    margin: 0; 
}


.header, .hero {
    background-color: #1F2937;
    margin: 0;
    padding: 0 15%;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links{
    display: flex;
    gap: 10px;
}
.header-links li {
    list-style-type: none;
}
.header li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}
.hero-content-right {
    display: flex;
    flex:1 0 auto;
}
.hero-content .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-secondary {
    display: flex;
    justify-content: stretch;
}
.hero-secondary .secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}
.hero-content .sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    margin-top: 5px;
    padding: 5px 25px;
    font-weight: bold;
    color: #E5E7EB;
    cursor: pointer;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    padding: 90px;
    color: #E5E7EB;
    font-size: 18px;
    margin-left: 50px;
}


.info-header {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 2%;
}

.info-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% 15%;
    gap: 50px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border: #3882F6;
    border-style: solid;
    border-radius: 15px;
    width: 150px;
}

.card-subtext {
    display: flex;
    justify-content: center;
    align-items: center;
}
